// Place all the styles related to the Countdowns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: white;
	background-color: #000;
	font-family: helvetica;
}

#container {
	margin: auto;
	margin-top: 20%;
	width: 800px;
	text-align: center;
}

#data {
	display: none;
}

#countdown {
    color: #fff;
    display: inline-block;
}

.top_holder {
	margin-right: 4em;
	display: inline-block;
}

.top_holder:last-child {
	margin-right: 0em;
}

.number {
  display: block;
  font-size: 8em;
}

.text {
	font-size: 2em;
	display: block;
}

#name {
	margin-top: 4em;
}